name: Publish to GitHub Packages

on:
  push:
    branches: [ main ] 

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 패키지 준비 
      - name: Prepare Package
        run: ./gradlew :shared:preparePublish

      # 깃허브 NPM 저장소로 업로드
      - name: Publish to GitHub NPM
        run: |
          cd shared/build/dist/js/productionLibrary
          npm config set //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
          npm publish --registry=https://npm.pkg.github.com
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
